*{
  box-sizing: border-box;
}

img{
  width: 100%
}

body{
  font-family: Helvetica, Arial, sans-serif;
}

div{
  display: inline-block;
}

.timeline-entry {

}

.dates {
  display: inline-block;
  position: relative;
}

.date-box{
  display: inline-block;
  border-right: 2px solid #B7DCF3;
  height: 379px;
  padding:0 39px 0 0;
}

.month-day{
  display: block;
  font-size: 12px;
  float:right;
}

.time{
  display: block;
  font-size: 36px;
}
.event-box{
  display: inline-block;
  height: 379px;
  width: 783px;
  padding: 47px 38px 64px 38px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #7EC0E7;
  margin-left: 52px;
}

.event-header{
  display:block;
  background-color: red
}

.event-happenings {
  display:block;
  background-color: blue

}
