*{
  box-sizing: border-box;
}

img{
  width: 100%
}

body{
  font-family: Helvetica, Arial, sans-serif;
}

div{
  display: inline-block;
}

.timeline-entry {
  width: 75%;
  margin: 5% 5% 0 10%;
}

.dates {

}

.date-box{
  border: 2px solid gray;
  background-color: yellow;

}

.month-day{
  display: block;
}

.time{
  display: block;
}
.events{
  border: 2px solid gray;
}

.event-header{
  display:block;
  background-color: red
}

.event-happenings {
  display:block;
  background-color: blue

}
