*{
  box-sizing: border-box;
}

img{
  width: 100%
}

body{
  font-family: Helvetica, Arial, sans-serif;
}

div{
  display: inline-block;
}

.timeline-entry {

}

.dates {
    display: inline-block;
    vertical-align: top;
    display: inline-block;
    border-right: 10px solid #B7DCF3;
    height: 409px;
    padding: 0px 35px 0 0;
}

.date-box{
  display: inline-block;
}

.month-day{
  display: block;
  color: #C1D7E6;
  font-size: 12px;
  float:right;
}

.time{
  display: block;
  font-size: 36px;
  color: #7EC0E7;
}

.image-box{
  display: inline-block;
  position: relative;
  float: right;
  margin-left: 5px;
  margin-right: -67px;
  margin-top: -56px;
  height:56px;
  width:56px;
  border-radius: 28px;
  background-color: #B7DCF3;
}

.inner-circle{
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  height:40px;
  width:40px;
  border-radius: 20px;
  background-color: #5CA6D3;
}

.fa-thumbs-up{
  display: inline-block;
  position: relative;
  margin-left: 11px;
  margin-top: 12px;
  color: white;
}

.fa-university{
  display: inline-block;
  position: relative;
  margin-left: 11px;
  margin-top: 12px;
  color: white;
}

.arrowholder::before {
    content: "";
    display: inline-block;
    position: relative;
    border: 10px solid transparent;
    border-right-color: #7EC0E7;
    margin-left: 25px;
    margin-right: -57px;
    margin-bottom: 121px;
    height: 0px;
    width: 0px;
}

.event-box{
  display: inline-block;
  height: 379px;
  width: 783px;
  padding: 47px 38px 64px 38px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #7EC0E7;
  margin-left: 52px;
}

.event-header{
  display:inline-block;
  font-size: 22px;
  font-weight: bold;
  color: white;
  width: 100%;
  border-bottom: 1px solid #AFD8EF;
  padding-bottom: 19px;
}

.event-happenings {
  display: inline-block;
  font-size: 14px;
  color: white;
  width: 100%;
  margin-top: 29px;
}
